= simple_form_for @use_case, url: project_use_cases_path(project_id: @use_case.project.id), html: { novalidate: false }, remote:true do |f|
  .large-12.columns{style: "padding:0;"}
    .row
      .small-7.columns{style: "padding:0;"}
        = f.input :name, label: false, placeholder: "Use Case Name e.g. Create Projects", :input_html => {maxlength: 60, required: true}, required: true
      .small-2.columns{style: "padding:0;"}
        = button_tag class: "postfix btn" do
          %span
            %i.fi-save 
            %span.hide-for-small Save

      .small-3.columns
        = content_tag :a, class:"inline-block cancel-form", remote: true do
          %span{style: "color:crimson;"} 
            %i.fi-x-circle{style: "font-size:1.2rem;"}
            %span Cancel
