
$('#new_project_use_case_placeholder').replaceWith('<div id="new_project_use_case_placeholder"></div>');
$('ul#project_use_cases').replaceWith('<%= escape_javascript(render "/use_cases/use_cases")%>');
$('.initial').show();