%table#projects
  %thead
    %tr
      %th ID
      %th Project Name
      %th Cases
      %th Project Activity


  %tbody
    - @projects.each do |project|
      %tr
        %td{class: "project_id #{project.id}"}= project.id
        %td= link_to project.name, project
        %td= link_to project.use_cases.count, project_path(project)
        %td= time_ago_in_words(project.updated_at)