.wizard-steps
  .completed-step
    %a{:href => "#step-one"}
      %span 1
      Define Actors and Goals
  .active-step
    %a{:href => "#step-two"}
      %span 2
      Generate Matrix of Actors and Goals
  %div
    %a{:href => "#"}
      %span 3
      Drag Actors and Goals into UC input
  %div
    %a{:href => "#"}
      %span 4
      Confirmation