
$('#new_project_placeholder').replaceWith('<div id="new_project_placeholder"><%= escape_javascript(render partial: "/projects/form")%></div>');
$('table#projects').replaceWith('<%= escape_javascript(render "/projects/table_projects")%>');