%h3= @project.name

%div
  %h4= link_to "Back to Projects", home_index_path
  .large-4.medium-4.small-6.columns{style: "padding:0;"}
    = link_to 'New Use Case', new_project_use_case_path(project_id: @project.id), class: 'btn button'

  .large-8.medium-8.small-6.columns{style: "padding:0;"}
    #longer_project_placeholder

%hr{style:"border:none;"}
.notice
  &nbsp;


= render '/use_cases/table_use_cases'

