= form_tag project_slices_path(project_id: @slice.project.id), class: "new_slice", :"data-form-url" =>project_slices_path(project_id: @slice.project.id), remote: true do
  .large-12.medium-12.columns 
    = content_tag(:a, "Save Slice", class: 'slice-save btn') 
    .right
      = content_tag(:a, 'Cancel', class: 'slice-cancel btn')
    %hr{style: 'border: none; margin-bottom: 1rem;'}
    = hidden_field_tag :flow_list


    .large-12.medium-12.columns.slice#new_slice_panel.panel
      %h5.subheader New Slice
      %ol.square#slice-panel.connectedSortable
        %li.instruct{style: "color: cornflowerblue;"} Drag and drop steps from any flow



:javascript

  var serialObj = {};
  var project_slice_url = '/project/' + $('#project-content').data("projectId") + '/slice';
  $('#new_slice_panel #slice-panel').sortable({
    connectWith: ".connectedSource",
    helper: function (e, li) {
    this.copyHelper = li.clone().insertAfter(li);
    $(this).data('copied', false);
    return li.clone();
  },
  stop: function () {
    var copied = $(this).data('copied');
    if (!copied) {
      this.copyHelper.remove();
    }
      this.copyHelper = null;
  }
    
  }).disableSelection();






 
  $('#new_slice_panel #slice-panel').on( "sortreceive", function( event, ui ) { 
    if($(this).children().length > 1){
      $('#slice-panel li.instruct').hide();
    } else {
      $('#slice-panel li.instruct').show();
    }
    ui.sender.data('copied', true);

    var sliceObj = {};
    var innerObj = {};
    serialObj = {};
    var c = 0;
    $('#new_slice_panel #slice-panel li').each(function(){
      sid = $(this).data('step-id');
      if(sid){
        inner = {};
        inner["step_id"] = sid;
        innerObj[c] = inner;
        c += 1;
      }
    });
    sliceObj["flows_attributes"] =  innerObj;
    serialObj["project_id"] = $('#project-content').data('project-id');
    serialObj["slice"] = sliceObj;

  });

  $('#new_slice_panel #slice-panel').on( "sortremove", function( event, ui ) { 
    if($(this).children().length > 1){
      $('#slice-panel li.instruct').hide();
    } else {
      $('#slice-panel li.instruct').show();
    }
    var flow_list_ids = $(this).closest('ul').sortable("toArray", {attribute: "data-step-id"});
    $('input#flow_list').val(flow_list_ids);
  });
