body {
  background-color: #fff;
  color: #333;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

label{
  font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

p, ol, ul, td{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  li{
    padding: 0.25rem 0;
  }
}

#container-bar{
  z-index: 5;
  .sub-nav {
    background-color: #ED7804;
-webkit-box-shadow: inset 0px 0px 5px 0px rgba(196,98,1,1);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(196,98,1,1);
box-shadow: inset 0px 0px 5px 0px rgba(196,98,1,1);
    width: 100%;
    margin:0;
    & dt a, & dd a, & li a{
      color: whitesmoke; 
      font-size: 16px;
      & span, & span i{
        font-size: 16px;
      }
      &:hover {
       color: #F5DEB3;
      }
    }

    & dd a.statement {
      padding-left: 0;
      font-size: 1.3rem;
      font-weight: bold;
      color: black;
      &:hover {
        background-color: inherit;
      }
    }
  }
  [data-magellan-expedition]{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

a#new_use_case_wizard{
  &:hover{
    background: inherit;
    color: #ED7804;
  }
}



td, li {
  &.blue{
    color: #23629F;
  }
  &.orange{
    color: #ff5640;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #23629F;

  &:hover {
    color: wheat;
    background-color: inherit;
  }

  #header & {
    color: #fff;
  }

  .btn-link{
    font-weight: bold;
  }

  &.slice-delete{
    display: none;
  }

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 0;
  label {
    color: red;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1, h2, h3, h4, h5, h4.title, h5.subheader, h5.title, dl.tabs a {
  font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  h4, h5, h4.title, h5.title, dl.tabs a {
    font-size: 1.2rem;
  }
}

.subheader{
  line-height: inherit;
  font-color: inherit;
  font-weight: inherit;
  padding: 0.5em;
  background-color: #efefef;
}

h5.subheader{
  font-size: 1rem;
}

.btn, button.btn {
    font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
    background-color: #004466;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    color: #fff; 
    font-size: 14px;
    font-weight: bold;
    &.postfix {
      height: inherit;
      line-height: inherit;
    }
}


.panel {
  margin-bottom: 1rem;
  padding: 0.15rem;
  background: #ffffff;
  border: none;
  ul {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  padding: 0.4rem;
  height: 2rem;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  form & {
    background-color: ivory;
  }
}

table.flows, table.slices{
  padding: 0;
  border: none;
  th {
    padding: 0.625rem 0.625rem 0;
    background-color: #efefef;
    h5 {
      font-size: 14px;
    }
  }
  form input[type="text"] {
    background-color: ivory;
  }
}


#right-yield {
    padding-right: 0;
    margin-top: 4.25em;
    &.is_stuck {
      margin-top: 1rem;
    }
}

ul.table, div.table{
  display: table;
  margin-left: 0;
  width: 100%;
  .table-row {
    display: table-row;
    [class^="icon-"], [class*=" icon-"]{
      color: teal;
    }

    &.even{
      background-color: aliceblue;
    }

    li, .table-cell {
      display: table-cell;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    &.table-header-group{
      background-color: #4682b4;
      color: floralwhite;
      display: table-header-group;
      & li{
        font-weight: bold;
      }
    }
  }
}

form.hide, form.new_project, form.new_use_case {
  display:none;
}

span.error, small.error{
  padding:0;
  margin-top:-1rem;
  background-color: inherit;
  color:crimson;
}
