body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

label{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

p, ol, ul, td{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #23629F;

  &:hover {
    color: #fff;
    background-color: #000;
  }

  #header & {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1, h2, h3, h4, h5, h4.title, h5.title {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  h4, h5, h4.title, h5.title {
    font-size: 1.2em;
  }

}

.btn {
    background-color: #23629F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff; 
    font-size: 14px;
    font-weight: bold;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  padding: 0.4rem;
  height: 2rem;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  form & {
    background-color: aliceblue;
  }
}

