
/*body*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?p6rmxv');
    src:url('../fonts/icomoon.eot?#iefixp6rmxv') format('embedded-opentype'),
        url('../fonts/icomoon.woff?p6rmxv') format('woff'),
        url('../fonts/icomoon.ttf?p6rmxv') format('truetype'),
        url('../fonts/icomoon.svg?p6rmxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-newspaper:before {
    content: "\e604";
}
.icon-file:before {
    content: "\e605";
}
.icon-copy:before {
    content: "\e606";
}
.icon-copy2:before {
    content: "\e600";
}
.icon-stack:before {
    content: "\e601";
}
.icon-folder:before {
    content: "\e602";
}
.icon-folder-open:before {
    content: "\e603";
}
.icon-cabinet:before {
    content: "\e607";
}
.icon-drawer:before {
    content: "\e608";
}
.icon-download:before {
    content: "\e60d";
}
.icon-upload:before {
    content: "\e60e";
}
.icon-users:before {
    content: "\e609";
}
.icon-cog:before {
    content: "\e60f";
}
.icon-wand:before {
    content: "\e610";
}
.icon-list:before {
    content: "\e60a";
}
.icon-newtab:before {
    content: "\e60b";
}
.icon-file-powerpoint:before {
    content: "\e60c";
}



* {
	margin:0;
	padding:0;
	font-size:14px;
} 


html, body {
	height: 100%;
	background: #fff;
     font-family:  Roboto, Arial, Helvetica, sans-serif;
     font-size: 14px;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  font-size: 0.925em;
}

table thead tr th, table tbody tr td, select, .sub-nav dt, .sub-nav dd, .sub-nav li  {
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

table thead tr th{
 color: #fff;
 background-color: #d36247;
}

b label {
    font-weight: bold;
}

/* header layout*/
#header {
    background-color: #004466;
    padding: 0 1rem;
}

ul.sub-nav {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tabs-content > .content {
    padding: 0;
}

.tabs-content {
    background-color: aliceblue;
}

.tabs dd.active a {
  background: #004466;
  color: whitesmoke;
}

.slice-drop {
    background-color: whitesmoke;
    min-height: 2rem;
    margin-top: 1rem;
}

#slice-inner{
    padding-top: 1em;
}

