.large-12.medium-12.columns
  .large-4.medium-4.columns{style: "padding:0;"}
    = link_to root_path do
      %h1{style: "color: whitesmoke;"}
        Case 2.0
  .large-2.medium-2.columns.right{style: "padding:0;"}
    - unless current_user.nil?
      = link_to "Logout", destroy_user_session_path, :method => :delete, :class => "alice-color"
