%h3 Members Listing

%div
  %br
  .large-4.medium-4.small-6.columns{style: "padding:0;"}
    = link_to 'New Member', new_member_path, class: 'btn button', remote: true
  .large-8.medium-8.small-6.columns{style: "padding:0;"}
    #no_placeholder

%hr{style:"border:none;"}
.notice
  &nbsp;


= render '/members/table_members', locals: {members: @members}


